.footer {
  width: 100%;
  min-height: 455px;
  margin-bottom: 100px;
}
.row-partners {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.row-partners-item {
  margin: 0 20px 50px 20px;
}
.row-partners-item:hover img {
  opacity: 1;
}
.row-partners-item img {
  transition: 0.3s;
  opacity: 0.7;
}

.row-subfooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.row-subfooter .logo {
  margin-right: 41px;
}
.row-subfooter .text {
  width: 100%;
  max-width: 540px;
  font-weight: 300;
  font-size: 12px;
  line-height: 167%;
  letter-spacing: 0.02em;
  color: #A3A3A3;
  margin-right: 32px;
}
.row-subfooter .protect {
  margin-right: 70px;
  display: flex;
  flex-direction: column;
}
.row-subfooter .protect-item {
  margin-bottom: 31px;
}
.row-subfooter .popular-games {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.row-subfooter .popular-games-title {
  width: 100%;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.row-subfooter .popular-games ul.popular-games-row {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.row-subfooter .popular-games ul.popular-games-row li {
  width: 50%;
  margin-bottom: 20px;
}
.row-subfooter .popular-games ul.popular-games-row li a {
  font-weight: normal;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

@media (max-width: 980px) {
  .footer {
    margin-bottom: 70px;
  }

  .row-partners {
    margin-bottom: 70px;
    justify-content: center;
  }
  .row-partners-item {
    width: 25px;
    margin: 5px;
  }
  .row-partners-item img {
    width: 100%;
  }

  .row-subfooter {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .row-subfooter .logo {
    order: 2;
  }
  .row-subfooter .protect {
    margin-right: 0;
    flex-direction: row;
    order: 2;
  }
  .row-subfooter .protect-item {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .row-subfooter .popular-games {
    order: -3;
    margin-bottom: 60px;
  }
  .row-subfooter .popular-games-title {
    font-size: 18px;
  }
  .row-subfooter .popular-games ul.popular-games-row li a {
    font-size: 14px;
  }
  .row-subfooter .text {
    font-size: 10px;
    margin-right: 0;
    margin-bottom: 40px;
  }
}