* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  font-family: "Poppins", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  background: #02050B;
  position: relative;
  transition: 0.3s;
  left: 0;
}
body.active {
  left: -100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  border: 1.25px solid #585858;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 24px;
  transition: 0.3s;
}
.btn:hover {
  border: 1.25px solid #FFFFFF;
}
.btn.red {
  background: #FF001E;
  border: none;
}
.btn.red:hover {
  background: #D30F26;
}

h2.title {
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

h3.s-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

h4.subtitle {
  font-weight: normal;
  font-size: 15px;
  line-height: 240%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #A3A3A3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
h4.subtitle.active {
  overflow: unset;
  display: unset;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}

.disable {
  display: none !important;
}

.active-flex {
  display: flex !important;
}

.section {
  width: 100%;
  margin: 133px 0 120px 0;
}
.section .container .block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.section .container .block::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url("../img/block-bg.png") center no-repeat;
  background-size: 100% 100%;
}
.section .container .block .woman-left {
  position: absolute;
  bottom: -10px;
  left: 0;
  pointer-events: none;
}
.section .container .block .woman-right {
  position: absolute;
  bottom: -10px;
  right: 0;
  pointer-events: none;
}
.section .container .block h1 {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 40px;
  line-height: 160%;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: -0.01em;
}
.section .container .block h1 b {
  color: #FF001E;
}
.section .container .block h2 {
  width: 91.5%;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.section .container .block span {
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 26px;
  line-height: 138%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.section .container .block p {
  font-weight: normal;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.section .container .block .btn {
  margin: 29px 0 41px 0;
}

.row-bonus {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-bonus-item {
  display: flex;
  align-items: center;
  margin: 0 35px;
}
.row-bonus-item .img {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-popular-slots {
  width: 100%;
  min-height: 100%;
  margin-bottom: 100px;
}
.section-popular-slots .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-popular-slots .container h2 {
  margin-bottom: 20px;
}
.section-popular-slots .container h4 {
  margin-bottom: 15px;
}
.section-popular-slots .container .read-more {
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #A3A3A3;
}
.section-popular-slots .container .box-vis-descp {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.section-popular-slots .container .p50 {
  padding-top: 50px;
}

.row-partners-slots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.row-partners-slots a {
  margin-bottom: 30px;
}

.row-gaming-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
}
.row-gaming-top-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 33px 30px;
  border: 1px solid #585858;
  border-radius: 5px;
}
.row-gaming-top-item:last-child {
  margin: 0;
}
.row-gaming-top-item .text {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.row-gaming-top-item .text span {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 11.413px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.row-gaming-top-item .text span:last-child {
  margin: 0;
}
.row-gaming-top-item .stars {
  display: flex;
  align-items: center;
}
.row-gaming-top-item .stars span {
  display: block;
  margin-right: 5px;
  font-weight: 600;
  font-size: 13.3152px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.row-slots {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.row-slots-item {
  width: 100%;
  max-width: 153px;
  height: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  margin: 4px;
  overflow: hidden;
}
.row-slots-item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: #000000;
  opacity: 0;
  transition: 0.3s;
}
.row-slots-item:hover::before {
  opacity: 0.7;
}
.row-slots-item:hover span, .row-slots-item:hover .btn, .row-slots-item:hover a.link-demo {
  opacity: 1;
  pointer-events: visible;
}
.row-slots-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  object-fit: cover;
}
.row-slots-item span {
  display: block;
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition: 0.3s;
  color: #FFFFFF;
}
.row-slots-item .btn {
  padding: 10px 17px;
  font-size: 10.2439px;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  margin-bottom: 10px;
}
.row-slots-item a.link-demo {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  letter-spacing: 0.02em;
  transition: 0.3s;
  color: #FFFFFF;
}

.section-best-games {
  width: 100%;
  min-height: 100vh;
  margin-bottom: 120px;
}
.section-best-games .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-best-games .container h2 {
  margin-bottom: 20px;
}
.section-best-games .container h3 {
  margin-bottom: 20px;
}
.section-best-games .container h4 {
  margin-bottom: 15px;
}
.section-best-games .container .read-more {
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #A3A3A3;
}
.section-best-games .container .box-vis-descp {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.best-games-row-best {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 120px;
}
.best-games-row-best.top-bonus-cas {
  flex-wrap: wrap;
}
.best-games-row-best.top-bonus-cas .best-games-row-best-item {
  margin-bottom: 30px;
}
.best-games-row-best.top-bonus-cas .best-games-row-best-item.w100 {
  width: 100%;
  max-width: 100%;
}
.best-games-row-best.top-bonus-cas .best-games-row-best-item.w49 {
  width: 49%;
  max-width: 49%;
}
.best-games-row-best.top-bonus-cas .best-games-row-best-item .item-bg {
  width: 100%;
  height: 100%;
}
.best-games-row-best.top-bonus-cas .best-games-row-best-item .item-title {
  font-size: 32px;
}
.best-games-row-best-item {
  position: relative;
  width: 100%;
  min-height: 270px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 13px;
  flex-direction: column;
}
.best-games-row-best-item .item-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  object-fit: cover;
}
.best-games-row-best-item p {
  font-weight: 500;
  font-size: 11.413px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.best-games-row-best-item .item-title {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}
.best-games-row-best-item .pay {
  margin-bottom: 23px;
}
.best-games-row-best-item .stars {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.best-games-row-best-item .stars span {
  display: block;
  margin-right: 5px;
  font-weight: 600;
  font-size: 13.3152px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.best-games-collection-game {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.best-games-collection-game-item {
  position: relative;
  width: 100%;
  min-height: 304px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 13px;
  flex-direction: column;
  overflow: hidden;
}
.best-games-collection-game-item .item-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  object-fit: cover;
}
.best-games-collection-game-item .item-logo {
  margin-bottom: 20px;
}
.best-games-collection-game-item span {
  display: block;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.best-games-collection-game-item .row-img {
  width: 100%;
  margin-bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-games-collection-game-item .row-img .swiper-container {
  width: 100%;
  overflow: hidden;
}
.best-games-collection-game-item .row-img .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}
.best-games-collection-game-item .row-img .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-prev {
  position: relative;
  bottom: -20px;
  z-index: 1;
  opacity: 1;
}
.best-games-collection-game-item .row-img .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active {
  position: relative;
  z-index: 3;
  opacity: 1;
}
.best-games-collection-game-item .row-img .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-next {
  position: relative;
  bottom: -20px;
  z-index: 1;
  opacity: 1;
}
.best-games-collection-game-item .row-img .swiper-container .swiper-wrapper .swiper-slide .row-img-item {
  width: 153px;
  height: 153px;
  border-radius: 10px;
  position: relative;
  z-index: 3;
}
.best-games-collection-game-item .row-img .swiper-container .swiper-wrapper .swiper-slide .row-img-item img {
  width: 153px;
  height: 153px;
}

.bonus-timer {
  width: 100%;
  min-height: 308px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 40px;
  border-radius: 5.47px;
  overflow: hidden;
  position: relative;
  border: 0.951087px solid #585858;
}
.bonus-timer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background: url("../img/bonus-left.png") center left no-repeat;
}
.bonus-timer::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: url("../img/bonus-right.png") center right no-repeat;
}
.bonus-timer-subtitlered {
  font-weight: 600;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FF001E;
}
.bonus-timer-title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 26px;
  line-height: 138%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.bonus-timer-subtitle {
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.bonus-timer .btns-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bonus-timer .btns-row .btn {
  margin: 0 10px;
  min-height: 36px;
  font-size: 13.3152px;
}
.bonus-timer .btns-row .btn-timer {
  font-size: 26px;
  pointer-events: none;
  padding: 9px;
  display: flex;
  align-items: center;
}

.section-faq {
  width: 100%;
  min-height: 100vh;
  margin-bottom: 120px;
  overflow: hidden;
}
.section-faq .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-faq .container h2 {
  margin-bottom: 20px;
}
.section-faq .container h3 {
  margin-bottom: 50px;
}

.faq-block {
  width: 100%;
  overflow: hidden;
}
.faq-block-item {
  width: 100%;
  margin-bottom: 16px;
  min-height: 64px;
  border: 1px solid #585858;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px 32px;
}
.faq-block-item.active .top img {
  transform: rotate(180deg);
}
.faq-block-item.active .content {
  position: relative;
  top: 0;
  opacity: 1;
  transform: scale(1);
}
.faq-block-item.active .content p {
  font-size: 12px;
}
.faq-block-item .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faq-block-item .top span {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.faq-block-item .content {
  margin-top: 16px;
  position: absolute;
  top: 100px;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s;
  width: 100%;
}
.faq-block-item .content p {
  font-weight: 300;
  font-size: 0;
  line-height: 167%;
  letter-spacing: 0.02em;
  text-align: left;
  color: #FFFFFF;
}

@media (max-width: 980px) {
  h2.title {
    font-size: 18px;
  }

  h3.s-title {
    font-size: 15px;
  }

  h4.subtitle {
    font-size: 12px;
  }

  .btn {
    font-size: 11px;
    padding: 14px 18px;
  }

  .section .container .block {
    padding: 40px 15px;
  }
  .section .container .block::before {
    background-size: cover;
  }
  .section .container .block .woman-left {
    display: none;
  }
  .section .container .block .woman-right {
    display: none;
  }
  .section .container .block h1 {
    margin-bottom: 20px;
    font-size: 25px;
  }
  .section .container .block h2 {
    width: 100%;
    font-size: 12px;
    line-height: 200%;
  }
  .section .container .block span {
    margin: 10px 0 4px 0;
    font-size: 18px;
  }
  .section .container .block p {
    font-size: 12px;
    width: 80%;
  }

  .row-bonus-item {
    flex-direction: column;
    margin: 0 15px;
    justify-content: flex-start;
  }
  .row-bonus-item .img {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .row-bonus-item p {
    width: 100% !important;
    font-size: 10px !important;
  }
  .row-bonus-item p br {
    display: none !important;
  }

  .section-popular-slots {
    margin-bottom: 90px;
  }
  .section-popular-slots .container h2 {
    margin-bottom: 30px;
  }
  .section-popular-slots .container h4 {
    margin-bottom: 30px;
  }
  .section-popular-slots .container .read-more {
    font-size: 12px;
  }

  .row-slots {
    justify-content: space-between;
  }
  .row-slots-item {
    max-width: 45%;
    margin-bottom: 30px;
  }

  .section-best-games {
    margin-bottom: 100px;
  }
  .section-best-games .container .subtitle {
    margin-bottom: 30px;
  }
  .section-best-games .container .read-more {
    font-size: 12px;
  }
  .section-best-games .container .box-vis-descp {
    margin-bottom: 30px;
  }

  .best-games-row-best {
    flex-wrap: wrap;
  }
  .best-games-row-best.top-bonus-cas {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .best-games-row-best.top-bonus-cas .best-games-row-best-item {
    margin-bottom: 30px;
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 10px;
    overflow-y: hidden;
  }
  .best-games-row-best.top-bonus-cas .best-games-row-best-item .item-bg {
    width: 100%;
    height: 100%;
  }
  .best-games-row-best.top-bonus-cas .best-games-row-best-item .item-title {
    font-size: 25px;
  }
  .best-games-row-best-item {
    margin-bottom: 50px;
  }
  .best-games-row-best-item:last-child {
    margin-bottom: 0;
  }

  .best-games-collection-game {
    flex-wrap: wrap;
  }
  .best-games-collection-game-item {
    margin-bottom: 50px;
  }
  .best-games-collection-game-item:last-child {
    margin-bottom: 0;
  }

  .bonus-timer {
    padding: 40px 15px;
    justify-content: flex-start;
    min-height: 530px;
  }
  .bonus-timer::before {
    background: url("../img/bonus-m.png") bottom left no-repeat;
    background-size: contain;
  }
  .bonus-timer::after {
    display: none;
  }
  .bonus-timer-subtitlered {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .bonus-timer-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .bonus-timer-subtitle {
    margin-bottom: 36px;
    font-size: 13px;
  }
  .bonus-timer .btns-row .btn {
    font-size: 11.3152px;
  }
  .bonus-timer .btns-row .btn-timer {
    font-size: 20px !important;
  }

  .section-faq {
    margin-bottom: 80px;
  }

  .faq-block-item {
    padding: 20px;
  }
  .faq-block-item .top {
    align-items: flex-start;
  }
  .faq-block-item .top span {
    width: 85%;
    display: block;
    font-size: 12px;
    text-align: left;
  }
  .faq-block-item .top img {
    margin-top: 3px;
  }
  .faq-block-item .content p {
    font-size: 10px;
  }

  .row-partners-slots {
    justify-content: center;
  }
  .row-partners-slots a {
    margin: 0 10px 20px 0;
  }

  .row-gaming-top-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .row-gaming-top-item .img {
    margin-bottom: 40px;
  }
  .row-gaming-top-item .text {
    margin-bottom: 29px;
  }
  .row-gaming-top-item .text span {
    font-size: 11.413px;
    margin-bottom: 20px;
  }
  .row-gaming-top-item .item-row-partners {
    margin-bottom: 30px;
  }
  .row-gaming-top-item .stars {
    margin-bottom: 30px;
  }
}