
// шапка
.header {
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 20px;
    z-index: 40;
    transition: 0.3s;
    padding: 10px 0;
    &.active {
        background: #02050B;
        top: 0;
    }
    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
 
    }
}
.header-menu {
    width: auto;
    ul {
        width: 100%;
        list-style: none;
        display: flex;
  
        align-items: center;
        li {
            margin: 0 13px;
            a {
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;

                text-align: center;
                
                color: #FFFFFF;
            }
        }
    }
}
.header-lang {
    width: auto;
    position: relative;
    &.active {
        .header-lang-start {
            img {
                transform: rotate(180deg);
            }
        }
    }
    &-start {
        display: flex;
        align-items: center;
        background: #000;
        border-radius: 5px;
        cursor: pointer;
        padding: 9px;
        span {
            display: block;
            margin-right: 3px;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;

            text-align: center;

            color: #FFFFFF;
        }
        img {
            transition: 0.3s;
        }
    }
    &-drop {
        width: 100%;
        position: absolute;
        top: 130%;
        max-height: 140px;
        overflow: hidden;
        overflow-y: auto;
        background: #000;
        &.active {
            ul {
                display: flex;
            }
        }
        ul {
            height: 100%;
            display: none;
            flex-direction: column;
            list-style: none;
            
            border-radius: 5px;
            padding: 9px;
            li {
                a {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 36px;

                    color: #A3A3A3;
                }
            }
        }
    }
}
.header-btns {
    width: auto;
    display: flex;
    align-items: center;
    .btn {
        margin-left: 24px;
        &:first-child {
            margin-left: 0;
        }
    }
}
.menu-open-m {
    display: none;
}
.modal-menu {
    display: none;
}

@media (max-width: 980px) {
    .header-logo {
        width: 25px;
        img {
            width: 100%;
        }
    }
    .header-menu {
        display: none;
    }
    .header-lang  {
        display: none;
    }
    .header-btns {
        margin-right: -40px;
        .btn {
            display: none;
            &.red {
                display: flex;
            }
        }
    }
    .menu-open-m {
        display: flex;
        width: 35px;
        height: 22px;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
        &.active {
            justify-content: center;
            align-items: center;
            position: relative;
            span {
                position: absolute;
                &:first-child {
                    transform: rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:last-child {
                    transform: rotate(45deg);
                }
            }
        }
        span {
            width: 100%;
            height: 2px;
            background: #fff;
            transition: 0.3s;
            &:nth-child(2) {
                width: 80%;
            }
        }
    }
    .modal-menu {
        position: fixed;
        right: -100%;
        top: 0;
        z-index: 39;
        width: 100%;
        height: 100%;
        background: #02050B;
        padding: 15px;
        transition: 0.3s;
        padding-top: 80px;
        display: block;
        &.active {
            right: 0;
        }
        ul {
            list-style: none;
            margin-bottom: 60px;
            li {
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 180%;

                    color: #FFFFFF;
                }
            }
        }
        .header-btns {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 39;
            .btn {
                display: flex;
                margin-right: 38px;
            }
            .header-lang {
                display: flex;
                &-start {
                    background: transparent;
                    span {
                        font-size: 12px;
                    }
                }
                &-drop {
                    top: unset;
                    left: 15px;
                    overflow-y: hidden;
                    width: 100%;
                    padding: 0 5px;
                    max-width: 100px;
                    overflow-x: hidden;
                    border-radius: 10px;
                    position: relative;
                    ul {
                        width: 100%;
                        margin-bottom: 0;
                        display: flex;
                        flex-direction: row;
                        overflow-y: hidden;
                        overflow-x: auto;
                        padding-right: 10px;
                        li {
                            margin: 0px 10px 0 0;
                            
                            a {
                                font-size: 12px;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}