
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none; 
    -webkit-appearance: none;
    font-family: 'Poppins', sans-serif;
}
a {
    color: #000;
    text-decoration: none;
}

body {
    background: #02050B;
    position: relative;
    transition: 0.3s;
    left: 0;
    &.active {
        left: -100%;
    }
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

// кнопки
.btn {
    border: 1.25px solid #585858;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 24px;
    transition: 0.3s;
    &:hover {
        border: 1.25px solid #FFFFFF;
    }
    &.red {
        background: #FF001E;
        border: none;
        &:hover {
            background: #D30F26;
        }
    }
}   

// тайтл
h2.title {
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;

    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
h3.s-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;

    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
h4.subtitle {
    font-weight: normal;
    font-size: 15px;
    line-height: 240%;

    text-align: center;
    letter-spacing: 0.02em;

    color: #A3A3A3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    &.active {
        overflow: unset;
        display: unset;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;  
    }
}

// активность элемента
.disable {
    display: none !important;
}
.active-flex {
    display: flex !important;
}

// главный экран
.section {
    width: 100%;
    margin: 133px 0 120px 0;
    .container {
        .block {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 50px;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                background: url("../img/block-bg.png") center no-repeat ;
                background-size: 100% 100%;
            }
            .woman-left {
                position: absolute;
                bottom: -10px;
                left: 0;
                pointer-events: none;
            }
            .woman-right {
                position: absolute;
                bottom: -10px;
                right: 0;
                pointer-events: none;
            }
            h1 {
                margin-bottom: 24px;
                font-weight: 600;
                font-size: 40px;
                line-height: 160%;
                color: #FFFFFF;
                text-align: center;
                letter-spacing: -0.01em;
                b {
                    color: #FF001E;
                }
            }
            h2 {
                width: 91.5%;
                margin-bottom: 29px;
                font-weight: 500;
                font-size: 14px;
                line-height: 171%;

                text-align: center;
                letter-spacing: 0.02em;

                color: #FFFFFF;
            }
            span {
                display: block;
                margin-bottom: 4px;
                font-weight: 600;
                font-size: 26px;
                line-height: 138%;

                text-align: center;
                letter-spacing: 0.02em;

                color: #FFFFFF;
            }
            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 143%;
                text-align: center;
                letter-spacing: 0.02em;

                color: #FFFFFF;
            }
            .btn {
                margin: 29px 0 41px 0;
            }
         
        }
    }
}
.row-bonus {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-item {
        display: flex;
        align-items: center;
        margin: 0 35px;
        .img {
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
       
    }   
}

// популярные слоты
.section-popular-slots {
    width: 100%;
    min-height: 100%;
    margin-bottom: 100px;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h2 {
            margin-bottom: 20px;
        }
        h4 {
            margin-bottom: 15px;
        }
        .read-more {
            font-weight: normal;
            font-size: 15px;
            line-height: 100%;

            text-align: center;
            letter-spacing: 0.02em;
            text-decoration-line: underline;

            color: #A3A3A3;
        }
        .box-vis-descp {
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
        }
        .p50 {
            padding-top: 50px;
        }
    }
}
.row-partners-slots {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    a {
        margin-bottom: 30px;
    }
}
.row-gaming-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    &-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        padding: 33px 30px;
        border: 1px solid #585858;
        border-radius: 5px;
        &:last-child {
            margin: 0;
        }
        .img {

        }
        .text {
            display: flex;
            text-align: center;
            flex-direction: column;
            span {
                display: block;
                margin-bottom: 20px;
                font-weight: 500;
                font-size: 11.413px;
                line-height: 17px;
           
                letter-spacing: 0.02em;
                color: #FFFFFF;
                &:last-child {
                    margin: 0;
                }
            }
        }
        .stars {
            display: flex;
            align-items: center;
            span {
                display: block;
                margin-right: 5px;
                font-weight: 600;
                font-size: 13.3152px;
                line-height: 100%;

                letter-spacing: 0.02em;

                color: #FFFFFF;
            }
        }
    }
}
.row-slots {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-item {
        width: 100%;
        max-width: 153px;
        height: 153px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        position: relative;
        border-radius: 4px;
        margin: 4px;
        overflow: hidden;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            background: #000000;
            opacity: 0;
            transition: 0.3s;
        }
        &:hover {
            &::before {
                opacity: .7;
            }
            span, .btn, a.link-demo {
                opacity: 1;
                pointer-events: visible;
            }
        }
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -2;
            object-fit: cover;
        }
        span {
            display: block;
            margin-bottom: 21px;
            font-weight: 600;
            font-size: 17px;
            line-height: 25px;
            opacity: 0;
            pointer-events: none;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            transition: 0.3s;
            color: #FFFFFF;
            
        }
        .btn {
            padding: 10px 17px;
            font-size: 10.2439px;
            opacity: 0;
            transition: 0.3s;
            pointer-events: none;
            margin-bottom: 10px;
        }
        a.link-demo {
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            opacity: 0;
            pointer-events: none;
            text-align: center;
            letter-spacing: 0.02em;
            transition: 0.3s;
            color: #FFFFFF;
        }
    }
}

// лучше игры
.section-best-games {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 120px;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h2 {
            margin-bottom: 20px;
        }
        h3 {
            margin-bottom: 20px;
        }
        h4 {
            margin-bottom: 15px;
        }
        .read-more {
            margin-bottom: 50px;
            font-weight: normal;
            font-size: 15px;
            line-height: 100%;

            text-align: center;
            letter-spacing: 0.02em;
            text-decoration-line: underline;

            color: #A3A3A3;
        }
        .box-vis-descp {
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
        }

    }
}
.best-games-row-best {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 120px;
    &.top-bonus-cas {
        flex-wrap: wrap;
        .best-games-row-best-item {
            margin-bottom: 30px;      
            &.w100 {
                width: 100%;
                max-width: 100%;
            }
            &.w49 {
                width: 49%;
                max-width: 49%;
            }
            .item-bg {
                width: 100%;
                height: 100%;
            }
            .item-title {
                font-size: 32px;
            }
        }
    }
    &-item {
        position: relative;
        width: 100%;
        min-height: 270px;
        max-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 13px;
        
        flex-direction: column;
        .item-bg {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            object-fit: cover;
        }
        p {
            font-weight: 500;
            font-size: 11.413px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 0.02em;

            color: #FFFFFF;
            margin-bottom: 14px;
        }
        .item-title {
            margin-bottom: 14px;
            font-weight: 500;
            font-size: 25px;
            line-height: 140%;

            text-align: center;

            color: #FFFFFF;
        }
        .pay {
            margin-bottom: 23px;
        }
        .stars {
            display: flex;
            align-items: center;
            margin-top: 15px;
            span {
                display: block;
                margin-right: 5px;
                font-weight: 600;
                font-size: 13.3152px;
                line-height: 100%;

                letter-spacing: 0.02em;

                color: #FFFFFF;
            }
        }
    }
}
.best-games-collection-game {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  
    &-item {
        position: relative;
        width: 100%;
        min-height: 304px;
        max-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 13px;
        flex-direction: column;
        overflow: hidden;
        .item-bg {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            object-fit: cover;
            
        }
        .item-logo {
            margin-bottom: 20px;
        }
        span {
            display: block;
            margin-bottom: 28px;
            font-weight: 600;
            font-size: 20px;
            line-height: 125%;

            text-align: center;
            letter-spacing: 0.02em;

            color: #FFFFFF;
        }
        .row-img {
            width: 100%;
            margin-bottom: -40px;
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-container {
                width: 100%;
                overflow: hidden;
                .swiper-wrapper {
                    .swiper-slide {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        opacity: 0;
                        transition: 0.3s;
                        &.swiper-slide-prev {
                            // margin-bottom: -40px;
                            // margin-right: -16%;
                            position: relative;
                            bottom: -20px;
                            z-index: 1;
                            opacity: 1;
                        }
                        &.swiper-slide-active {
                            position: relative;
                            z-index: 3;
                            opacity: 1;

                        }
                        &.swiper-slide-next {
                            // margin-bottom: -40px;
                            // margin-left: -16%;
                            position: relative;
                            bottom: -20px;
                            z-index: 1;
                            opacity: 1;
                        }
                        .row-img-item {
                            width: 153px;
                            height: 153px;
                            border-radius: 10px;
                            position: relative;
                            z-index: 3;
                           
                            img {
                                width: 153px;
                                height: 153px;
                            }
                        }
                    }
                }
            }

        }
    }
}
.bonus-timer {

    width: 100%;
    min-height: 308px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 5.47px;
    overflow: hidden;
    position: relative;
    border: 0.951087px solid #585858;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        pointer-events: none;
        background: url("../img/bonus-left.png") center left no-repeat ;
        
        
    }
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background: url("../img/bonus-right.png") center right no-repeat ;

        
    }
    &-subtitlered {
        font-weight: 600;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.19em;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: #FF001E;
    }
    &-title {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 26px;
        line-height: 138%;
        text-align: center;
        letter-spacing: 0.02em;

        color: #FFFFFF;
    }
    &-subtitle {
        margin-bottom: 40px;
        font-weight: normal;
        font-size: 14px;
        line-height: 143%;

        text-align: center;
        letter-spacing: 0.02em;

        color: #FFFFFF;
    }
    .btns-row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .btn {
            margin: 0 10px;
            min-height: 36px;
            font-size: 13.3152px;
            
        }
        .btn-timer {
            font-size: 26px;
            pointer-events: none;
            padding: 9px;
            display: flex;
            align-items: center;
        }
    }
}

// faq
.section-faq {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 120px;
    overflow: hidden;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h2 {
            margin-bottom: 20px;
        }
        h3 {
            margin-bottom: 50px;
        }
    }
}
.faq-block {
    width: 100%;
    overflow: hidden;
    &-item {
        width: 100%;
        margin-bottom: 16px;
        min-height: 64px;
        border: 1px solid #585858;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 20px 32px;
        &.active {
            .top {
                img {
                    transform: rotate(180deg);
                }
            }
            .content {
                position: relative;
                top: 0;
                opacity: 1;
                transform: scale(1);
                p {
                    font-size: 12px;
                }
            }
        }
        .top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            span {
                display: block;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;

                letter-spacing: 0.02em;

                color: #FFFFFF;
            }
        }
        .content {
            margin-top: 16px;
            position: absolute;
            top: 100px;
            opacity: 0;
            transform: scale(0);
            transition: 0.3s;
            width: 100%;
            
            p {
                font-weight: 300;
                font-size: 0;
                line-height: 167%;
    
                letter-spacing: 0.02em;
                text-align: left;
                color: #FFFFFF;
            }
        }
    }
}


@media (max-width:980px) {
    h2.title {
        font-size: 18px;
    }
    h3.s-title {
        font-size: 15px;
    }
    h4.subtitle {
        font-size: 12px;
    }
    .btn {
        font-size: 11px;
        padding: 14px 18px;
    }
    .section {
        .container {
            .block {
                padding: 40px 15px;
                &::before {
                    background-size: cover;
                }
                .woman-left {
                    display: none;
                }
                .woman-right  {
                    display: none;
                }
                h1 {
                    margin-bottom: 20px;
                    font-size: 25px;
                }
                h2 {
                    width: 100%;
                    font-size: 12px;
                    line-height: 200%;
                }
                span {
                    margin: 10px 0 4px 0;
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                    width: 80%;
                }
            }
        }
    }
    .row-bonus {
        &-item {
            flex-direction: column;
            margin: 0 15px;
            justify-content: flex-start;
            .img {
                margin-bottom: 10px;
                margin-right: 0;
            }
            p {
                width: 100% !important;
                font-size: 10px !important;
                br {
                    display: none !important;
                }
            }
        }
    }
    .section-popular-slots {
        margin-bottom: 90px;
        .container {
            h2 {
                margin-bottom: 30px;
            }
            h4 {
                margin-bottom: 30px;
            }
            .read-more {
                font-size: 12px;
            }
        }
    }
    .row-slots {
        justify-content: space-between;
        &-item {
            max-width: 45%;
            margin-bottom: 30px;
        }
    }
    .section-best-games {
        margin-bottom: 100px;
        .container {
            .subtitle {
                margin-bottom: 30px;
            }
            .read-more {
                font-size: 12px;
            }
            .box-vis-descp {
                margin-bottom: 30px;
            }
        }
    }
    .best-games-row-best {
        flex-wrap: wrap;
        &.top-bonus-cas {
            flex-wrap: wrap;
            margin-top: 0;
            .best-games-row-best-item {
                margin-bottom: 30px;      
                width: 100% !important;
                max-width: 100% !important;
                border-radius: 10px;
                overflow-y: hidden;
                .item-bg {
                    width: 100%;
                    height: 100%;
                }
                .item-title {
                    font-size: 25px;
                }
            }
        }
        &-item {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .best-games-collection-game {
        flex-wrap: wrap;
        &-item {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .bonus-timer {
        padding: 40px 15px;
        justify-content: flex-start;
        min-height: 530px;
        &::before {
            background: url("../img/bonus-m.png") bottom left no-repeat ;
            background-size: contain;
        }
        &::after {
            display: none;
        }
        &-subtitlered {
            margin-bottom: 10px;
            font-size: 12px;
        }
        &-title {
            margin-bottom: 10px;
            font-size: 18px;
        }
        &-subtitle {
            margin-bottom: 36px;
            font-size: 13px;
        }
        .btns-row {
            .btn {
                font-size: 11.3152px;
            }
            .btn-timer {
                font-size: 20px !important;
            }
        }
    }
    .section-faq {
        margin-bottom: 80px;
    }
    .faq-block {
        &-item {
            padding: 20px;
            .top {
                align-items: flex-start;
                span {
                    width: 85%;
                    display: block;
                    font-size: 12px;
                    text-align: left;
                }
                img {
                    margin-top: 3px;
                }
            }
            .content {
                p {
                    font-size: 10px;
                }
            }
        }
    }
    .row-partners-slots {
        justify-content: center;
        a {
            margin: 0 10px 20px 0;
        }
    }
    .row-gaming-top {
        &-item {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .img {
                margin-bottom: 40px;
            }
            .text {
                margin-bottom: 29px;
                span {
                    font-size: 11.413px;
                    margin-bottom: 20px;
                }
            }
            .item-row-partners {
                margin-bottom: 30px;
            }
            .stars {
                margin-bottom: 30px;
            }
        }
    }
}

